<div th:fragment="header">
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <div class="LogoContainer">
        <img class="MagnesiumLogo" src="MagnesiumLogo.png" alt="">
        </div>

    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <div class="container1">
            <button class="btnn"><a href="/">Главная</a></button>
        <button class="btnn" id="products">Продукты</button>
        <button class="btnn" >О нас</button>
        <button class="btnn">Pricing</button>
        </div>
    </nav>
</div>
</div>